<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sfabian.geoexplorer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- This is needed to display the map -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/explorer_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- This is needed to display the map -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="FF:34:81:EA:BA:81:AE:D7:51:6C:22:BD:00:5A:84:D7:52:C4:59:3C;net.sfabian.geoexplorer" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExploreGridActivity"
            android:label="@string/title_activity_explore_grid" >
        </activity>
        <activity
            android:name=".ExploreLocationActivity"
            android:label="@string/title_activity_explore_location" >
        </activity>
        <activity
            android:name=".LocationFoundActivity"
            android:label="@string/title_activity_location_found" >
        </activity>
        <activity
            android:name=".ReportLocationActivity"
            android:label="@string/title_activity_report_location" >
        </activity>
        <activity
            android:name=".FirstTimeActivity"
            android:label="@string/title_activity_first_time" >
        </activity>
        <activity
            android:name=".LocationReportedActivity"
            android:label="@string/title_activity_location_reported" >
        </activity>
        <activity
            android:name=".AddLocationActivity"
            android:label="@string/title_activity_add_location" >
        </activity>
        <activity
            android:name=".LocationAddedActivity"
            android:label="@string/title_activity_location_added" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".TermsActivity"
            android:label="@string/title_activity_terms" >
        </activity>
        <service
            android:name=".ReceiveGeofenceTransitionsIntentService"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>
